body {
  background-color: #f7fafc;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
     
  input[type="range"]::-webkit-slider-thumb {
      width: 15px;
      -webkit-appearance: none;
  appearance: none;
      height: 15px;
      cursor: ew-resize;
      background: #000;
      box-shadow: -405px 0 0 400px rgba(236, 72, 153, 1);
      border-radius: 50%;
      
  }
}